# Ignore virtual environments
venv/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore Great Expectations uncommitted folder
great_expectations/uncommitted/

# Ignore OS files
.DS_Store
Thumbs.db
.vscode/
